<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
         {% include 'main/head.html' %}
         <form method="post">
             {% csrf_token %}

        <table align="center" border="2">
            <tr><th colspan="2"> User Registration</th></tr>
            <tr>
                <td> Username </td>
                <td> {{ form.username }} </td>
            </tr>
            <tr>
                <td> Password </td>
                <td> {{ form.password1 }} </td>
            </tr>
             <tr>
                <td> Conform Password </td>
                <td> {{ form.password2 }} </td>
            </tr>
             <tr>
                <th colspan="2">
                    <input type="submit" value="Register">
                </th>
            </tr>
              <tr>
                <td colspan="2">
                    {{ form.errors }}
                </td>
            </tr>

            <tr>
                    <th colspan="2">
                        <a href="/user/">
                            <h2> Login </h2>
                        </a>
                    </th>
                </tr>
        </table>
         </form>
</body>
</html>